<body>
<html>
<ul>
<li><a href="server-info">server-info</a></li>
<li><a href="server-status">server-status</a></li>
<li><a href="phpinfo.php">phpinfo</a></li>
<li><a href="phpmyadmin/">phpmyadmin</a></li>
<li><a href="phppgadmin/">phppgadmin</a></li>
<li><a href="http://localhost:8080/">tomcat</a></li>
</ul>
</html>
</body>
